<%= form_with(model: livro, local: true) do |form| %>
  <% if livro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(livro.errors.count, "error") %> prohibited this livro from being saved:</h2>

      <ul>
      <% livro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="field"> 
      <h6> Nome do autor do livro:</h6>
        <%= form.label :nome_autor %>
        <%= form.text_field :nome_autor, id: :livro_nome_autor %>
      </div>
    </div>
  </div> 

  <div class="field">
    <h6> Sobrenome do autor do livro:</h6>
    <%= form.label :sobrenome_autor %>
    <%= form.text_field :sobrenome_autor, id: :livro_sobrenome_autor %>
  </div>

  <div class="field">
  <h6> Registro do livro:</h6>
    <%= form.label :registro %>
    <%= form.number_field :registro, id: :livro_registro %>
  </div>

  <div class="field">
    <h6> Título do livro:</h6>
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :livro_titulo %>
  </div>

  <div class="field">
  <h6> CDU do livro:</h6>
    <%= form.label :cdu %>
    <%= form.number_field :cdu, id: :livro_cdu %>
  </div>

  <div class="field">
    <h6> Idioma do livro:</h6>
    <%= form.label :idioma_livro %>
    <%= form.text_field :idioma_livro, id: :livro_idioma_livro %>
  </div>

  <div class="field">
    <h6> Serie ou coleção do livro:</h6>
    <%= form.label :nome_serie %>
    <%= form.text_field :nome_serie, id: :livro_nome_serie %>
  </div>

  <div class="field">
  <h6> Volume da série ou coleção livro:</h6>
    <%= form.label :volume_serie %>
    <%= form.number_field :volume_serie, id: :livro_volume_serie %>
  </div>

  <div class="field">
    <h6> Editora do livro:</h6>
    <%= form.label :editora %>
    <%= form.text_field :editora, id: :livro_editora %>
  </div>

  <div class="field">
    <h6> Ano de publicação:</h6>
    <%= form.label :ano %>
    <%= form.number_field :ano, id: :livro_ano %>
  </div>

  <div class="field">
    <h6> Edição do livro:</h6>
    <%= form.label :edicao %>
    <%= form.number_field :edicao, id: :livro_edicao %>
  </div>

  <div class="field">
    <h6> ISBN do livro:</h6>
    <%= form.label :isbn %>
    <%= form.number_field :isbn, id: :livro_isbn %>
  </div>

  <div class="field">
    <h6> Data de aquisição do livro:</h6>
     <label for="data_aquisicao" class="active">Data</label> 
   <input placeholder="Data de aquisição do Livro" id="data_aquisicao" type="date" class="validate">
     
  </div>

  <div class="field">
    <h6> Origem de aquisição:</h6>
    <%= form.label :origem_aquisicao %>
    <%= form.text_area :origem_aquisicao, id: :livro_origem_aquisicao %>
  </div>

  <div class="field">
  <br>
  <h6> O livro possui classificação livre?</h6>
   <form action="#">
    <p>
      <input name="group1" type="radio" id="livre" />
      <label for="livre">Sim</label>
    </p>
    <p>
      <input name="group1" type="radio" id="nlivre" />
      <label for="nlivre">Não</label>
    </p>
    </form> 
  </div>

  <div class="field">
    <br><br>
    <h6> O livro é renovável?</h6>
    <form action="#">
    <p>
      <input name="group1" type="radio" id="renovavel" />
      <label for="renovavel">Sim</label>
    </p>
    <p>
      <input name="group1" type="radio" id="nrenovavel" />
      <label for="nrenovavel">Não</label>
    </p>
    </form>  
  </div>

  <div class="field">
    <br> <br>
    <h6> Link de download do livro:</h6>
    <%= form.label :link_download %>
    <%= form.text_area :link_download, id: :livro_link_download %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
