<div class="section no-pad-bot">
  <div class="container">
      <br><br>
      <div class="card teal lighten-1">
       <br>
        <h1 class="header center white-text">Lista de Usuários</h1>
        <br>
      </div>
    </div>
    <br>
  <div class="container">
<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>ID</th>
      <th>E-mail</th>
      <th>CPF</th>
      <th>Série</th>
      <th>Turno</th>
      <th>Tipo de Usuário</th>
      <th>Estado da conta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.cpf %></td>
        <td><%= user.student_grade %></td>
        <td><%= user.student_shift %></td>
        <td><%= user.user_type %></td>
        <td><%= user.account_status %></td>
        <td><%= link_to 'Mostrar', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="actions btn waves-effect waves-light teal lighten-1">
  <%= link_to 'Novo', new_user_path %>
</div>


  <br>
  <br>
</div>
