<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Cpf</th>
      <th>Birthday</th>
      <th>Student grade</th>
      <th>Student shift</th>
      <th>User type</th>
      <th>Account status</th>
      <th>Lib employee</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= user.address %></td>
        <td><%= user.phone %></td>
        <td><%= user.cpf %></td>
        <td><%= user.birthday %></td>
        <td><%= user.student_grade %></td>
        <td><%= user.student_shift %></td>
        <td><%= user.user_type %></td>
        <td><%= user.account_status %></td>
        <td><%= user.lib_employee_id %></td>
        <td><%= user.created_at%></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
