<h1>List of Users</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Phone:</strong>
  <% @user.phones.each do |p| %>
    <%= p.num_phone %>
  <% end %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Student grade:</strong>
  <%= @user.student_grade %>
</p>

<p>
  <strong>Student shift:</strong>
  <%= @user.student_shift %>
</p>

<p>
  <strong>User type:</strong>
  <%= @user.user_type %>
</p>

<p>
  <strong>Account status:</strong>
  <%= @user.account_status %>
</p>

<p>
  <strong>Lib employee:</strong>
  <%= @user.lib_employee_id %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @user.created_at %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
